/build/
/bower_components/
/node_modules/
/.pulp-cache/
/.cache/
/output/
/.psc-package/
/.psc*
/.purs*
/.psa*
/abis/**/*.json
*.swp
.DS_Store
/.spago/
*/.spago/
*/output/
dapp/Contracts/**/*.purs
contracts/merged/
dist/bundle.js
dist/helper.js
dist/server.js
dist/package.json
dist/node_modules/
dist/build/
deployment/keys.txt
foam5g.tgz