/build/
/bower_components/
/node_modules/
/.pulp-cache/
/.cache/
/output/
/.psc-package/
/.psc*
/.purs*
/.psa*
/abis/**/*.json
*.swp
.DS_Store
package-lock.json
/.spago/
*/.spago/
*/output/
dapp/Contracts/**/*.purs
dist/bundle.js

